@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');

/* Global Variable */
:root {
  --main: #f01027;
  --black: #000;
  --green: #3f8a50;
  --white: #fff;
  --font_family: "Besley", serif;
}


* {
  transition: 0.3s;
  font-family: var(--font_family);
}

/* color */
*::selection {
  background: var(--main);
  color: var(--white) !important;
}

.btn {
  width: 300px;
  border: 2px solid var(--main);
  color: var(--main) !important;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

.btn:hover {
  color: var(--white) !important;
}

.btn::after {
  content: "";
  background: var(--main);
  display: block;
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 0px;
  top: 0;
  border-radius: 15px;
  left: 0;
  transition: 0.3s;
}

.btn:hover::after {
  width: 100%;
}


/* Header */
.header {
  position: relative;
}

.header img {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--black);
  opacity: 0.25;
}

.header .content {
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--green) !important;
  background: var(--black);
  padding: 20px;
}

.header .content h6 {
  font-size: 30px;
}

.header .btn {
  margin-top: 30px;
}

.col-12 {
  margin-top: 60%;
  margin-right: 60%;
  align-content: center;
}

.card {
  margin-right: 50px;
}

.card-body {
  padding-left: 2px;
}

.btn {
  top: 10px;
  left: 5px;
}

/* Custom Section */
.custom {
  margin: 120px auto;
}

.custom .box {
  overflow: hidden;
}

.custom img {
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
}

.custom img:hover {
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.profile {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.profile-user {
  display: flex;
  justify-content: center;
  font-size: .5rem;

}

.profile-workout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.profile-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;

}

.workout-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.new-workout {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Footer */
footer {
  background: var(--black);
  position: absolute;
  width: 100%;


}

footer .foot {
  font-weight: 600;
  font-size: 2em;
  margin: 20px auto;
  color: var(--green);
  text-align: center;
}

main {
  margin-top: 10%;
  margin-left: 30%;
  height: 100%;
  width: 100%;
}