@import url("https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap");

/* Global Variable */
:root {
  --main: #f01027;
  --black: #000;
  --white: #fff;
  --font_family: "Besley", serif;
}

* {
  transition: 0.3s;
  font-family: var(--font_family);
}

/* color */
*::selection {
  background: var(--main);
  color: var(--white) !important;
}

.btn {
  width: 300px;
  border: 2px solid var(--main);
  color: var(--main) !important;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

.btn:hover {
  color: var(--white) !important;
}

.btn::after {
  content: "";
  background: var(--main);
  display: block;
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 0px;
  top: 0;
  border-radius: 15px;
  left: 0;
  transition: 0.3s;
}

.btn:hover::after {
  width: 100%;
}

/* Header */
.header {
  position: relative;
}

.header img {
  max-width: 100%;
  object-fit: cover;
}

.header .btn {
  margin-top: 1.875rem;
}

.col-12 {
  margin-top: 60%;
  margin-right: 60%;
  align-content: center;
}

.card {
  top: 5rem;
  margin-right: 9.375rem;
}

.card-body {
  padding-left: 0.125rem;
}

.btn {
  top: 0.625rem;
  left: 0.313rem;
}

/* Custom Section */
.custom {
  margin: 7.5rem auto;
}

.custom .box {
  overflow: hidden;
}

.custom img {
  height: 25rem;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
}

.custom img:hover {
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* Profile */

.profile-title {
  padding-top: 4rem;
}

.profile-user {
  display: flex;
  justify-content: center;
  font-size: small;
}

.profile-workout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  font-size: 2.5rem;
}

.new-workout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

main {
  margin-top: 10%;
  margin-left: 30%;
  height: 100%;
  width: 100%;
}

/* Profile */

.profile {
  font-size: 20px;
  padding-left: 50px;
  position: relative;
}

.form-input {
  margin-top: -20px;
  margin-left: 2px;
}

.workout {
  left: 20px;
  margin-left: 10%;
  margin-top: 20px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-size: 6rem;
  color: #f01027;
}

/* single workout  */
.single-workout {
  padding-top: 3rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sw-header {
  font-size: 1.5rem;
}

.sw-body {
  font-size: 3.5rem;
}

.btn-submit:hover::after {
  width: 100%;
}