.workout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workout-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.workout-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
