.workout-form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

.workout-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workout-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workout-select {
    display: flex;
    justify-content: center;


}

.workout-rounds {

    padding: 1rem;
    display: flex;
    justify-content: center;
}

.workout-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;

}


.workout-buttons {
    display: flex;
    flex-direction: column;
}

.workout-round {
    display: flex;
    justify-content: center;
}